---
Language:           Cpp
BasedOnStyle:       LLVM

IndentWidth:        4
BinPackArguments:   false
BinPackParameters:  false
BreakBeforeBraces:  Allman
PointerAlignment:   Left
SpaceBeforeParens:  Never
TabWidth:           4
