[Unit]
Description=System information bar

[Service]
WorkingDirectory=/home/sascha/.utils/statorange
ExecStart=/home/sascha/.utils/statorange/launcher.sh
Restart=always
RestartSec=10
User=sascha
Group=sascha

[Install]
WantedBy=graphical.target

